@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format("truetype"); }

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(https://fonts.gstatic.com/s/raleway/v11/bIcY3_3JNqUVRAQQRNVteQ.ttf) format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf) format("truetype"); }

@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Droid Sans Mono"), local("DroidSansMono"), url(https://fonts.gstatic.com/s/droidsansmono/v7/ns-m2xQYezAtqh7ai59hJYW_AySPyikQrZReizgrnuw.ttf) format("truetype"); }

@font-face {
  font-family: 'Ropa Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Ropa Sans"), local("RopaSans-Regular"), url(https://fonts.gstatic.com/s/ropasans/v5/QnguTd82yEUxQZygH2gm8KCWcynf_cDxXwCLxiixG1c.ttf) format("truetype"); }

.tools-wrapper .bg-options a, .tools-wrapper .shirt-options a {
  border: 1px solid #333;
  display: inline-block; }
  .tools-wrapper .bg-options a img, .tools-wrapper .shirt-options a img {
    width: 50px;
    height: auto; }

.tools-wrapper .export-shirt {
  padding-top: 20px; }
  .tools-wrapper .export-shirt .export-shirt-result {
    margin-top: 20px;
    max-width: 100%;
    min-height: 150px; }

#add-clipart .radio {
  display: inline-block;
  border: 1px solid #333;
  text-align: center;
  padding: 10px; }
  #add-clipart .radio label {
    padding-left: 20px; }
    #add-clipart .radio label img {
      max-width: 100px; }

#add-text .text-preview {
  border: 1px solid #aaa;
  padding: 10px;
  text-align: center;
  background:#aaa;
  color:#fff;}
